{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ section.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=section) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ section.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if section.extra.author %}
                    Published by {{ section.extra.author }}
                {% elif config.extra.author %}
                    Published by {{ config.extra.author }}
                {% endif %}
                {% if section.taxonomies.categories %}
                    {% set category = section.taxonomies.categories[0] %}
                    in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                {% endif %}
                {% if section.taxonomies.tags %}
                    {% if section.taxonomies.categories %}and{% endif %}
                    tagged
                    {% for tag in section.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                        {% if section.taxonomies.tags | length > 1 %}
                            {% if loop.index != section.taxonomies.tags | length %}
                                {% if loop.index == section.taxonomies.tags | length - 1 %}
                                    and
                                {% else %}
                                    ,
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
            {% block extra_footer %}
            {% endblock extra_footer %}
            <script src="https://utteranc.es/client.js"
                    repo="beucismis/blog"
                    issue-term="pathname"
                    theme="photon-dark"
                    crossorigin="anonymous"
                    async>
            </script>
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}
